html {
  font-family: Cabin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif !important;
  font-size: 16px;
  background-color: #000000;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  width: 400px !important;
  overflow: hidden;
}

body {
  font-family: Cabin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif !important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: rgba(6, 3, 3, 0.708) !important;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

h5 {
  color: rgb(58, 255, 140) !important;
}
.switch-info label input[type="checkbox"]:checked + .lever {
  background-color: #cc1800 !important;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgb(68, 241, 15); */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(87, 237, 137);
  opacity: 0.2;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

#logout.input:focus {
  border-color: rgb(255, 30, 34) !important;
  border: 3px solid rgb(255, 30, 34) !important;
  box-shadow: 0 0 10px rgb(255, 30, 34) !important;
}
p input:focus {
  border-color: rgb(58, 255, 140) !important;
  border: 3px solid rgb(58, 255, 140) !important;
  box-shadow: 0 0 10px rgb(101, 237, 167) !important;
}
input.button:focus {
  outline: 0;
}

/* Nav Bar Css */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: black !important;
  background-color: rgb(58, 255, 140) !important;
}

.nav > li > a {
  color: rgb(58, 255, 140) !important;
}
/*                            */
.dash-container {
  -webkit-box-orient: horizontal;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.dash-container,
.sidenav {
  display: -webkit-box;
  display: flex;
  z-index: 9999;
  -webkit-box-direction: normal;
}
/* Blob css */
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #86ff80;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #86ff80;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: black;
  border-radius: 30px;
}
.blob-btn:hover:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: black;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #86ff80;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
  transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn__blob {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
  transform: translateZ(0) scale(1.7);
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.4);
    transform: translateZ(0) scale(1.4);
  }
}

/*                                        */

.sidenav {
  position: fixed;
  left: 0;
  background-color: #061133;
  width: 95px;
  height: 100%;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 20px;
}

.sidenav img {
  width: 55px;
}

.navigation {
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.navigation,
.selectable-nav-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.selectable-nav-item {
  border-radius: 6px;
  width: 48px;
  height: 48px;
  margin: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.selectable-nav-item :hover {
  background-color: rgba(69, 68, 68, 0.831);
  border-radius: 6px;
}

.selectable-nav-item img {
  width: 24px;
  height: 24px;
}

select {
  text-align: center;
  min-width: 200px;
  margin-bottom: 15px;
  background-color: #25242a !important;
  padding: 0 12px !important;
}

input {
  margin-bottom: 10px;
  font-family: Cabin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
input,
select {
  padding: 20px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #25242a;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

input::placeholder {
  font-family: "San Francisco Pro" !important;
  color: #7c778a !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.spacer {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: rgba(69, 68, 68, 0.831);
  z-index: 9999;
}

.page-header-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 16px;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.scontainer {
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scc,
.scontainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  align-items: center;
}

.scc {
  -webkit-box-orient: vertical;
  flex-direction: column;
  margin-bottom: 16px;
}

.scc h3 {
  margin-bottom: 20px;
  color: #b0b3bc;
}

.scard {
  height: 210px;
  width: 450px;
  border-radius: 8px;
  background-color: #202c54;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.scard,
.scard .sec {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.scard .sec {
  -webkit-box-align: center;
  align-items: center;
}

.scard .sec h4 {
  margin-bottom: 20px;
}

.scard h3 {
  color: #b0b3bc;
}

html {
  font-family: Cabin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #fff;
}

.col {
  display: flex;
  flex-direction: column;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

input {
  padding: 20px;
  height: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #25242a;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}

::-webkit-input-placeholder {
  font-family: "San Francisco Pro";
  color: #787e8c;
  font-weight: 500;
  font-size: 14px;
}

::-moz-placeholder {
  font-family: "San Francisco Pro";
  color: #787e8c;
  font-weight: 500;
  font-size: 14px;
}

:-ms-input-placeholder {
  font-family: "San Francisco Pro";
  color: #787e8c;
  font-weight: 500;
  font-size: 14px;
}

::-ms-input-placeholder {
  font-family: "San Francisco Pro";
  color: #787e8c;
  font-weight: 500;
  font-size: 14px;
}

::placeholder {
  font-family: "San Francisco Pro";
  color: #787e8c;
  font-weight: 500;
  font-size: 14px;
}

.button {
  height: 50px;
  width: 100px;
  padding: 12px;
  color: #fff;
  background-color: #5a77d7;
  border-radius: 4px;

  justify-content: space-evenly;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  background-color: #4a65bd;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

textarea {
  background-color: #061133;
}

textarea::placeholder {
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input#generator-count::-webkit-outer-spin-button,
input#generator-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
