.container {
  width: 500px;
  background-color: rgb(67, 103, 223);
}

.invisible {
  display: none;
}

.wide-input {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
}

.button-container {
  padding-top: 20px;
  position: relative;
}

.logout-btn {
  position: absolute;
  top: 15px;
}

textarea {
  resize: vertical;
}

.special-button {
  opacity: 1;
  font-size: 20px;
  display: block;
  outline: none;
  border: 0;
  font-weight: bold;
  color: #f88;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 10px transparent;
}

.special-button:hover {
  padding: 10px;
  margin: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.border {
  opacity: 1;
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.error,
.success,
.failure {
  display: none;
  font-size: 20px;
  color: #f88;
}

.link {
  font-size: 20px;
  color: #f88;
}
